-extends "base.haml"

-block content
  %section
    %h2.title
      %span.title-bar
        %a.fake-a
          -if meeting.title
            =meeting.title
          -else
            No title

        %small
          =meeting.date

    .pad-content
      =meeting.html|safe
