-extends "base.haml"

-block content
  -regroup orga.meeting_set.all by date.year as per_years

  .meeting-list
    -for year in per_years
      %section
        %h2.year= year.grouper

        %ul
          -for meeting in year.list
            %li.item
              %a{href: "{% url 'meeting_detail' meeting.pk meeting.slug %}"}
                =meeting.title
              %br
              %span.date
                =meeting.date|date:"d F"

        %hr.separator
