body {
    margin: auto;
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    max-width: 850px;
}

header {
    margin-top: 70px;
    margin-bottom: 60px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 4px;
}


section hr.separator {
    margin-top: 75px;
    width: 100px;
    border: 0.5px solid #ddd;
}

section {
    padding-bottom: 75px;
}

section h2.title {
    margin-bottom: 25px;
}

section span.title-bar {
    border-bottom: 1px solid #ccc;
    width: 80%;
    text-align: left;
    padding-right: 140px;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

section h2.title a {
    text-decoration: none;
    text-transform: uppercase;
}

section h2.title a.fake-a:hover {
    text-decoration: none;
    text-decoration-style: none;
}

section h2.title small {
    color: #888;
    font-size: medium;
}

section .pad-content {
    margin-left: 10px;
}

.all-pv {
    text-align: center;
    font-size: big;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/Montserrat.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff2) format('woff2');
}
