body {
    margin-left: 20%;
    margin-right: 20%;
}

header {
    margin-top: 90px;
    margin-bottom: 70px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6vw;
    letter-spacing: 3px;
}


section hr {
    margin-top: 75px;
    width: 100px;
    border: 0.5px solid #ddd;
}

section {
    padding-bottom: 75px;
}
