-load staticfiles

<doctype html>
%html
  %head
    %title
      -block title
        -if orga
          =orga.name
          \-
          PV PADS
        -else
          PV PADs
    %link{href: "{% static 'css/style.css' %}", rel: "stylesheet"}

  %body
    -if not orga
      %p
        You either don't have any organisation set up yet or no default organisation and no organisation that match of this domain, set up a default one or add one <a href="/admin/meetings/orga/add/">here</a>.

    -else
      %header
        %h1= orga.name

      -block content
