-extends "base.haml"

-block content
  -for meeting in orga.meeting_set.all|slice:":10"
    %section
      %h2.title
        %a{href: "{% url 'meeting_detail' meeting.id meeting.slug %}"}
          -if meeting.title
            =meeting.title
          -else
            No title

        %small
          =meeting.date

      =meeting.html|safe

      %hr

  %p
    %a{href: "{% url 'meeting_list' %}"}
      All PVs
