-extends "base.haml"

-block content
    -for meeting in orga.meeting_set.all
      %section
        %h2
          -if meeting.title
            =meeting.title
          -else
            No title

          %small
            =meeting.date

        =meeting.html|safe
